.search-input{
    outline: 1px solid  #afafaf !important;
    border: 1px solid #afafaf !important;
    transition: .4s ease-in-out;
}
.search-input:focus{
    outline: 1px solid #696969 !important;
    border: 1px solid #696969 !important;
    transition: .4s ease-in-out;
}
.card-color-primary{
    background-color: #d3d3d3;
}
.card-color-secondary{
    background-color: #f0f0f0;
}
.cursor-pointer{
    cursor: pointer;
}
.message-input:focus{
    border: none;
    outline: none;
}
.message-input{
    border: none;
    outline: none;
}
.sender-message{
    display: flex;
    justify-content: end;
}
.sender-message p{
    border-radius: 6px 6px 0px 6px;
}